<mat-card>
  <div class="mat-table__wrapper">
    <div class="col-12">
      <div class="row">
        <div class="col-8">

        </div>
        <div class="col-4">
        	<input type="text" name="" (input)="get_filterData($event)" class="form-control" placeholder="{{'search' | translate }}">
       </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-12">
      <table class="table table-striped" datatable [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th scope="col">{{'contractor no' | translate }}</th>
            <th scope="col">{{'contractor' | translate }}</th>
            <th scope="col">{{'client no' | translate }}</th>
            <th scope="col">{{'client' | translate }}</th>
            <th scope="col">{{'order no' | translate }}</th>
            <th scope="col">{{'order' | translate }}</th>
            <th scope="col">{{'amount' | translate }}</th>
            <th scope="col">{{'type' | translate }}</th>
            <!-- <th scope="col">{{'client price' | translate }}</th> -->
            <th scope="col">{{'contractor price' | translate }}</th>
            <th scope="col">{{'period' | translate }}</th>
            <th scope="col" class="text-center nosort">{{'action' | translate }}</th>
          </tr>
        </thead>
        <tbody *ngIf="open_positionlist">
          <tr *ngFor="let data of open_positionlist; index as i" [class.active]="i == selectedRow" (click)="selectRow(i)">
            <td>{{ data.contractor_number }}</td>
            <td>{{ data.contractor_name }}</td>
            <td>{{ data.client_number }}</td>
            <td>{{ data.client_name }}</td>
            <td>{{ data.order_number }}</td>
            <td>{{ data.description }}</td>
            <td>{{ data.amount }}</td>
            <td>{{ data.type }}</td>
            <!-- <td>{{ data.client_price }}</td> -->
            <td>{{ data.contractor_price_week }}</td>
            <td>{{ data.period }}</td>
            <td class="text-center" nowrap>
              <button mat-icon-button color="primary" matTooltip="{{'edit' | translate }}">
                <mat-icon>create</mat-icon>
              </button>&nbsp;
              <button mat-icon-button color="warn" matTooltip="{{'delete' | translate }}" type="button">
                <mat-icon>delete</mat-icon>
              </button>

            </td>
          </tr>
        </tbody>
        <tbody *ngIf="open_positionlist && open_positionlist.length === 0">
          <tr>
            <td colspan="12" class="text-center">{{ 'no_data_available' | translate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</mat-card>
