.responsible-border {
	border: 1px solid #ebedf2;
	border-radius: 5px;
	width: 100%;
	margin-left: 1px;
}
mat-card {
	height: 100%;
}

.vat-mandatory{
	display: flex;
	align-items: center;
}

input[type="checkbox"]{
	width: 15px;
	height: 15px;
	margin-right: 20px;
  }


//   @media only screen and (min-width: 1200px) {
// 	.ustr_mandatory_value {
// 		width: 40%;
// 	}

// }

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
	.ustr_mandatory_value {
		width: 45%;
	}

}
// @media only screen and (min-width: 768px) and (max-width: 1025px) {
// 	.ustr_mandatory_value {
// 		width: 70%;
// 	}

// }
// @media only screen and (max-width: 768px) {
// 	.ustr_mandatory_value {
// 		width: 40%;
// 	}

// }
