<mat-card-content>
  <mat-tab-group class="demo-tab-group">

    <mat-tab label="{{ 'banking' | translate }}" >
      <kt-banking></kt-banking>
    </mat-tab>

  </mat-tab-group>

  <!-- <div class="kt-portlet__foot">
    <div class=" p-0">
      <div class="row" style="padding-top: 20px;">
        <div class="col-lg-12 text-center">
			<button type="button" class="btn btn-danger m-5" (click)="cancel()" style="padding: 10px 30px;">{{'cancel' | translate}}</button>
          <button type="submit" class="btn btn-success m-5" (click)="submitFrm()" style="padding: 10px 30px;" [disabled]="isDisabled">{{'save' | translate}}</button>
        </div>
      </div>
    </div>
  </div> -->

</mat-card-content>
